@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400&display=swap');

body {
  display: table;
  margin: auto;
  vertical-align: middle;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-size: 5vmax;
}

#app {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}

#socials {
  flex-direction: row;
}

span.social {
  font-size: 0.75em;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

h1 {
  font-size: 200%;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
  color: black;
}
